body {
    background-color: #2C5451;
    margin: 0;
    font-family: 'Inter';
    color: white;
}

.transcription {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/img/sea.jpg') no-repeat center center/cover;
    color: white;
    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
}

.transcription-container {
    width: 100%;
    max-width: 1840px;
    background-color: #0000001A; /* Цвет фона с прозрачностью */
    backdrop-filter: blur(7.73px); /* Эффект размытия фона */
    padding-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 40px;
    margin-top: 180px;
    margin-bottom: 0;
}

.close-button {
    position: fixed; /* Фиксированное положение относительно окна */
    top: 40px;  /* Расстояние от верхней границы */
    right: 40px; /* Расстояние от правой границы */
    width: auto; /* Автоматическая ширина под текст */
    height: auto; /* Автоматическая высота под текст */
    padding: 10px 20px; /* Внутренние отступы */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid white; /* Белая рамка */
    border-radius: 20px;
    color: white; /* Белый цвет текста */
    font-family: 'Inter', sans-serif; /* Шрифт Inter */
    font-size: 24px; /* Размер текста */
    text-decoration: none; /* Убираем подчеркивание */
    text-align: center; /* Выравнивание текста */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease, color 0.3s ease; /* Анимация */
}

.close-button:hover {
    background-color: white; /* Белый фон при наведении */
    color: #2C5451; /* Цвет текста при наведении */
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.file-info h1 {
    font-size: 42px;
    color: white;
    margin-left: 40px;
}

.transcription-box {
    margin: 0 40px;
    max-height: 355px; /* Ограничение высоты контейнера */
    overflow-y: auto; /* Добавление прокрутки, если текст превышает высоту */
    word-wrap: break-word; /* Автоматический перенос длинных слов */
    overflow-wrap: break-word; /* Современное свойство для переноса текста */
    padding-bottom: 40px;
    padding-top: -30px;
}

.transcription-box p {
    margin: 0;
    font-size: 32px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    white-space: pre-wrap; /* Сохранение пробелов и переносов */
}

.action-buttons {
    display: flex;
    gap: 20px; /* Расстояние между кнопками */
    margin-right: 40px;
    margin-left: auto;
}

.action-btn {
    background-color: #FFFFFF4D; /* Цвет кнопки */
    color: white;
    font-size: 24px;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    box-shadow: none;
}

.action-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.horizontal-line {
    width: calc(100% - 80px); /* Ширина с учетом отступов */
    height: 3px;
    background-color: white;
    margin: 0 auto; /* Центровка */
    margin-bottom: 20px; /* Отступ от линии до текста "Общая длительность" */
}

.download-btn {
    background-color: #66C0B7;
}

.download-btn:hover {
    background-color: #019874;
}



/* МОДАЛЬНОЕ ОКНО */

/* Эффект размытия фона при открытом модальном окне */
body.modal-open {
    overflow: hidden; /* Отключаем прокрутку на фоне */
}

/* Модальное окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Модальное окно поверх контента */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    backdrop-filter: blur(5px); /* Эффект размытия фона */
    overflow: auto;
    padding-top: 60px;
}

/* Содержимое модального окна */
.modal-content {
    background-color: #2D5552;
    margin: 5% auto;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 20px;
    border: 1px solid #8EA5B7;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    font-family: 'Inter';
    font-size: 36px;
}

.modal-content h2 {
    margin: 0;
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */
    font-family: 'Inter', sans-serif; /* Шрифт */
}

.format-btn {
    background-color: #2D5552;
    color: white;
    font-size: 24px;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white; /* Белая рамка */
    margin: 10px;
}

.format-btn:hover {
    background-color: white; /* Белый фон при наведении */
    color: #2C5451; /* Цвет текста при наведении */
}
